.navbar li {
  list-style: none;
  margin-top: 1rem;
  padding: 0rem 0.7rem;
  border-right: 2px solid #141414;
}
.navbar li:last-child {
  border-right: none !important;
}
.navbar {
  justify-content: flex-start !important;
  padding: 0 !important;
  margin-bottom: 2rem;

  &__links span {
    color: #141414;
  }
}
.active {
  font-weight: bold;
}
.navbar .navbar__links:hover {
  text-decoration: none;
}
