.header {
  background-image: url(../assents/images/Header_image.jpg);
  line-height: 100px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
  padding: 1rem 0rem;
  font-size: 35px;
  color: #fff;
}
